header {
    display: flex;
    width: 100%;
    height: 55px;
    background-color: white;
    align-items: center;
 }

.header-right {
    list-style: none;
    display: inline-block;
    padding: 12px;
 }

.header-right a {
    line-height: 55px;
    padding: 0 12px;
    color: black;
    display: block;
    text-decoration: none;
    transition: all 0.5s;
 }

.header-right a:hover {
    background-color: #00a0e8;
    color: white;
 }