* {
   box-sizing: border-box;
}

/* html全体のレイアウト */
body {
   height: 100%;
   padding: 0;
   margin: 0;
   background-color: #ffffff;
   font-family: "Zen Kaku Gothic New",'Noto Sans JP', sans-serif;
}

a {
   text-decoration: none;
}

ul, li {
   list-style: none;
}

header {
   position: sticky;
   top: 0;
   z-index: 1000;
   display: flex;
   width: 100%;
   height: 65px;
   background-color: #146C94;
   align-items: center;
   justify-content: space-between;
   color: black;
}

.title img {
   height: 55px;
   display: flex;
   margin-left: 5px;
}

.top-nav {
   list-style: none;
}

.top-nav a:hover {
   background-color: rgba(246, 241, 241, 0.9);
   color: #146c94;
}

.container {
   display: flex;
   max-width: 1200px;
   padding: 0 40px;
   margin: auto;
   justify-content: space-between;
}

.container-main {
    width: 100%;
    max-width: 790px;
    display: flex;
    flex-direction: column;
    float: left;
    text-align: left;
}


.news h2 {
    margin-top: 30px;
    color: #000000;
    border-bottom: 3px solid #146C94;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.news-item {
    margin-bottom: 20px;
    padding: 12px;
    border: 2px solid #AFD3E2;
    display: inline-block;
    width: 100%;
}

.news-item a {
   width: 100%;
   height: 100%;
   display: inline-block;
}

.news-text {
   color: black;
   display: inline-block;
   vertical-align: top;
}

.news-img {
    float: right;
    margin-left: auto;
}

.news-item img {
   width: 20%;
   vertical-align: bottom;
}

.news-btn a {
  display:block;
  margin: auto;
  width:200px;
  height:auto;
  padding:10px 10px;
  border-radius:5px;
  background-color:#146C94;
  text-decoration: none;
  text-align: center;
  color:white;
}

.news-btn a:active {
  background-color:#19A7CE;
  color: white;
}

.hokkaido-link {
   width: 100%;
}

/* .hokkaido-link .links {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
} */

.hokkaido-link h2 {
    margin-top: 30px;
    color: #000000;
    border-bottom: 3px solid #146C94;
}

.links {
   display: flex;
   flex-wrap: wrap;
   gap: 3px 2%;
}

.links a {
   width: 32%;
}

.links img {
   width: 100%;
}

.tokachi, 
.kushiro,
.nemuro,
.nakashibetsu,
.kitami {
   filter: opacity(100%)
}

.abashiri ,
.bihoro ,
.monbetsu ,
.engaru ,
.shari {
   filter: opacity(30%)
}

.container-sub {
   width: fit-content;
   max-width: 300px;
   flex-direction: column;
}

.container-sub img {
   vertical-align: top;
   text-align: right;
   margin-top: 35px;
   width: 100%;
}

.sticky {
   position: sticky;
   top: 70px;
}

.footer {
   background-color: #146C94;
   color: #F6F1F1;
   padding: 40px;
   margin-top: 20px;
}

.footer-logo img {
   height: 70px;
}

.contact {
   margin-left: 7px;
   margin-top: 15px;
   font-size: 20px;
}

.contact i {
   margin-right: 4px;
}

.footer-container {
   text-align: center;
}

.small {
   font-size: 80%;
   margin-left: 2px;
}

.footer-menu-list {
   display: flex;
   margin-left: auto;
   text-align: right;
}

.footer-menu-ul {
   text-align: right;
}

.footer-nav {
   list-style: none;
}

.footer-nav a {
   color: #F6F1F1;
   display: block;
   text-decoration: none;
   transition: all 0.4s;
   padding-bottom: 10px;
}

/* TOP スライドショー画像 */
.top-img-container {
   align-items: flex-end;
}

.slider {
   position: relative;
   z-index: 1;
   height: 90vh; /* 画像の高さ */
   margin: 0;
   padding: 0;
}

/* 画像設定 */
.slider-item01 {
   background: url(../img/kitami_town-hall.jpeg);
}
.slider-item02 {
   background: url(../img/kunnneppu_town-hall.JPG);
}
.slider-item03 {
   background: url(../img/oketo_town-hall.jpg);
}
.slider-item04 {
   background: url(../img/piason_memorial-hall.jpg);
}
.slider-item05 {
   background: url(../img/hakka_memorial-museum.jpg);
}

.slider-item {
   width: 100%;
   height: 90vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.slick-prev,
.slick-next {
    position: absolute;
	z-index: 3;
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    height: 25px;
    width: 25px;
}
.slick-prev {
    left:2.5%;
    transform: rotate(-135deg);
}
.slick-next {
    right:2.5%;
    transform: rotate(45deg);
}

.about-main {
   width: 80%;
   margin: 0 10%;
   display: flex;
   flex-direction: column;
}

.cover  img {
   height: 40vh;
   width: 100%;
   object-fit: cover;
}

.about-main h2 {
   margin-top: 45px;
   color: #000000;
   border-bottom: 3px solid #146C94;
}

.about-main h3 {
   margin: 0;
}

.about-main h4 {
   margin-top: 10px;
   margin-bottom: 2px;
}

.about-main a {
   margin-bottom: 15px;
}

/* トップへのスクロールボタンの指定 */
button {
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   right: 20px;
   bottom: 20px;
   width: 80px;
   height: 80px;
   font-size: 20px;
   font-weight: bold;
   color: #fff;
   background: #000;
   border: none;
   border-radius: 50%;
   cursor: pointer;
   opacity: 0;
   visibility: hidden;
   transition: .3s;
 }
 /* クラス付与時の指定 */
 .is-active {
   opacity: 1;
   visibility: visible;
 }


/* headerのハンバーガー用CSS */
@media (max-width: 1065px) {

   /* .top-nav {
      display: none;
   }

   .hamburger-container {
      display: block;
   }
   .menu-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
   } */

   .nav ul {
      /* 最初はナビゲーションボタンは非表示 */
      display: none;
   }

   .top-ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      background-color: #146C94;
   }

   .top-nav a {
      padding: 8px;
      font-size: 16px;
      color: #F6F1F1;
      display: block;
      text-align: center;
      text-decoration: none;
   }

   .hamburger {
      position: absolute;
      top: 32px;
      right: 32px;
      cursor: pointer;
      width: 32px;
      height: 24px;
      z-index: 2000;
   }

   .hamburger span {
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #F6F1F1;
      transition: all 0.3s;
      z-index: 2000;
   }

   .hamburger span:nth-of-type(1) {
      /*上の線の位置*/
      top: 4px;
   }

   .hamburger span:nth-of-type(2) {
      /*真ん中の線の位置*/
      top: 12px;
   }

   .hamburger span:nth-of-type(3) {
      /*下の線の位置*/
      top: 20px;
   }

   .hamburger.open span:nth-of-type(1) {
      /*openのとき、上の線を右斜めにする*/
      top: 10px;
      transform: translateY(6px) rotate(-33deg);
   }

   .hamburger.open span:nth-of-type(2) {
      /*真ん中の線を消す*/
      opacity: 0;
   }

   .hamburger.open span:nth-of-type(3) {
      /*下の線を左斜めにする*/
      top: 22px;
      transform: translateY(-6px) rotate(33deg);
   }

   .screen-notes {
      background-color: #EA5550;
      color: white;
      text-align: center;
      margin-right: 0;
      padding: 10px;
   }

   .screen-notes h3 {
      margin: 0;
   }

   .screen-notes p {
      margin: 0;
   }
}

@media (min-width: 1065px) {
   .screen-notes {
      display: none;
   }

   .top-nav a {
      line-height: 65px;
      padding: 0 15px;
      color: #F6F1F1;
      display: block;
      text-decoration: none;
      transition: all 0.4s;
   }

   .hamburger {
      display: none;
   }

   .hamburger-container {
      display: none;
   }

   .top-ul {
      display: flex;
      justify-content: space-between;
      margin-right: 10px;
   }
}