* {
   box-sizing: border-box;
}

/* html全体のレイアウト */
body {
   height: 100%;
   padding: 0;
   margin: 0;
   background-color: #ffffff;
   font-family: "Zen Kaku Gothic New",'Noto Sans JP', sans-serif;
}

a {
   text-decoration: none;
}

ul, li {
   list-style: none;
}

header {
   position: sticky;
   top: 0;
   z-index: 10;
   display: flex;
   width: 100%;
   height: 65px;
   background-color: #146C94;
   align-items: center;
   justify-content: space-between;
   color: black;
}

.title img {
   height: 55px;
   display: flex;
   margin-left: 5px;
}

.top-ul {
   display: flex;
}

.top-nav {
   list-style: none;
}

.top-nav a {
   line-height: 65px;
   padding: 0 20px;
   color: #F6F1F1;
   display: block;
   text-decoration: none;
   transition: all 0.4s;
}

.top-nav a:hover {
   background-color: rgba(246, 241, 241, 0.9);
   color: #146c94;
}

.container {
   display: flex;
}

.container-main {
    width: 50%;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    float: left;
}


.news h2 {
    margin-top: 30px;
    color: #000000;
    border-bottom: 3px solid #146C94;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.news-item {
    margin-bottom: 20px;
    padding: 12px;
    border: 2px solid #AFD3E2;
    display: inline-block;
    width: 100%;
}

.news-item a {
   width: 100%;
   height: 100%;
   display: inline-block;
}

.news-text {
   display: inline-block;
   vertical-align: top;
   width: 425px;
}

.news-img {
    float: right;
    margin-left: auto;
}

.news-item img {
   width: 160px;
   height: 120px;
   vertical-align: bottom;
}

.news-btn a {
  display:block;
  margin: auto;
  width:200px;
  height:auto;
  padding:10px 10px;
  border-radius:5px;
  background-color:#146C94;
  text-decoration: none;
  text-align: center;
  color:white;
}

.news-btn a:active {
  background-color:#19A7CE;
  color: white;
}

.hokkaido-link {
   width: 100%;
}

/* .hokkaido-link .links {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
} */

.hokkaido-link h2 {
    margin-top: 30px;
    color: #000000;
    border-bottom: 3px solid #146C94;
}

.links img {
   width: 33%;
   text-align: center;
   vertical-align: top;
   margin-top: 0.5%;
   border: 0;
}

.tokachi, 
.kushiro,
.nemuro,
.nakashibetsu,
.kitami {
   filter: opacity(100%)
}

.abashiri ,
.bihoro ,
.monbetsu ,
.engaru ,
.shari {
   filter: opacity(50%)
}

.container-sub {
   width: 20%;
   display: flex;
   flex-direction: column;
}

.container-sub img {
   vertical-align: top;
   margin-top: 35px;
   width: 100%;
}

.footer {
   background-color: #146C94;
   color: #F6F1F1;
   padding: 40px;
   margin-top: 20px;
}

.footer-logo img {
   height: 70px;
}

.contact {
   margin-left: 7px;
   margin-top: 15px;
   font-size: 20px;
}

.contact i {
   margin-right: 4px;
}

.footer-container {
   text-align: center;
}

.small {
   font-size: 80%;
   margin-left: 2px;
}

.footer-menu-list {
   display: flex;
   margin-left: auto;
   text-align: right;
}

.footer-menu-ul {
   text-align: right;
}

.footer-nav {
   list-style: none;
}

.footer-nav a {
   color: #F6F1F1;
   display: block;
   text-decoration: none;
   transition: all 0.4s;
   padding-bottom: 10px;
}

/* TOP スライドショー画像 */
.top-img-container {
   align-items: flex-end;
}

.slider {
   position: relative;
   z-index: 1;
   height: 90vh; /* 画像の高さ */
   margin: 0;
   padding: 0;
}

/* 画像設定 */
.slider-item01 {
   background: url(../img/kitami_town-hall.jpeg);
}
.slider-item02 {
   background: url(../img/kunnneppu_town-hall.JPG);
}
.slider-item03 {
   background: url(../img/oketo_town-hall.jpg);
}
.slider-item04 {
   background: url(../img/piason_memorial-hall.jpg);
}
.slider-item05 {
   background: url(../img/hakka_memorial-museum.jpg);
}

.slider-item {
   width: 100%;
   height: 90vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.slick-prev,
.slick-next {
    position: absolute;
	z-index: 3;
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    height: 25px;
    width: 25px;
}
.slick-prev {
    left:2.5%;
    transform: rotate(-135deg);
}
.slick-next {
    right:2.5%;
    transform: rotate(45deg);
}